cluster_addr      = "http://{{ inventory_hostname }}:{{ vault_unsealer_cluster_port }}"
api_addr          = "http://{{ inventory_hostname }}:{{ vault_unsealer_port }}"
default_lease_ttl = "{{ vault_unsealer_default_lease_ttl }}"
max_lease_ttl     = "{{ vault_unsealer_max_lease_ttl }}"
disable_mlock     = "true"
ui                = "{{ vault_unsealer_enable_ui }}"

storage "raft" {
  path    = "{{ vault_unsealer_storage_path }}"
  node_id = "node-{{ inventory_hostname }}"
}

listener "tcp" {
  address     = "{{ ansible_default_ipv4.address }}:{{ vault_unsealer_port }}"
  tls_disable = "{{ vault_unsealer_tls_disable }}"
}
